h1 {
    margin-top: 0;
    font-size: 24px;
    color: #24242b;
    font-weight: bold;
    font-family: "Arial";
}
h2 {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #1f1f56;
    font-weight: bold;
    font-family: "Arial";
}
h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

sup {
    font-size: 0.6em;
}
hr {
    border-color: transparent;
    border-top-color: #aaaaaa;
}
.wrapper {
    max-width: 1000px;
}
.empty {
    width: 200px;
    background-color: #dcdce5;
}
.header {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
}
.phone {
    text-align: right;
}
.tel {
    padding-left: 8px;
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}
.contact {
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
    text-align: right;
}
.empty2 {
    background-color: #f5f5f5;
}
.reklama {
    vertical-align: bottom;
}
.describtion {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 35px;
    padding-bottom: 35px;
}
.text{
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
}
.button {
    width: 180px;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 20px;
    text-decoration: none;
    background-color: #fd8300;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
}
.perevahi {
    background-color: #ededf5;
}
.perevahi td {
    padding-left: 30px;
}
.image {
    text-align: center;
    padding-top: 35px;
}
.theme {
    font-size: 14px;
    color: #24242b;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    margin-bottom: 9px;
}
.about {
    font-size: 13px;
    line-height: 18px;
    color: #666666;
    font-family: "Arial";
    text-align: center;
}
.about-td {
    padding-bottom: 30px;
}
.last-td {
    padding-right: 30px;
}
.montreal {
    font-size: 13px;
    line-height: 19px;
    color: #9999a6;
    font-family: "Arial";
}
.house1 {
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 40%;
}
.houseText1 {
    padding-left: 20px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-right: 30px;
}
.house2 {
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 40%;
}
.houseText2 {
    padding-left: 30px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-right: 20px;
}
.discount {
    text-align: center;
    background-repeat: repeat;
    background-image: url(https://raw.githubusercontent.com/Heleno4ka8/e-mail-img/main/bgimg.png);
    padding: 34px;
}
.sale {
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
    font-family: "Arial";
    text-align: center;
}
.push {
    background-color: #1f1f56;
    margin-top: 10px;
}
.icons {
    text-align: center;
    background-color: #08081a;
    padding-top: 30px;
    padding-bottom: 10px;
}
.copyright {
    background-color: #08081a;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    font-family: "Arial";
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}
.site {
    background-color: #000014;
    padding-bottom: 17px;
    padding-top: 17px;

}
.site-div {
    text-align: center;
    color: #fd8300;
}
.site-link {
    color: #fd8300;
    text-decoration: none;
    font-size: 11px;
    font-family: "Arial";
}